In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# CHANGE THIS

In [ ]:
source_file_path = '/content/drive/MyDrive/07 - Six - Team only/Raw data copy/Time_Series_Merchants_Transactions_Anonymized.csv'

In [ ]:
output_path = '/content/drive/MyDrive/07 - Six - Team only/Processed data/betka_tests_tmp/'

In [ ]:
start_month = '2020-08'

# Functions

In [ ]:
def get_top(data, top_percent = 0.9):
  data_ordered = data.copy(deep=True)
  data_ordered['total'] = data.sum(axis='columns')
  data_ordered = data_ordered.sort_values(by='total', ascending = False).copy(deep=True)
  data_ordered['running_total']=data_ordered['total'].cumsum()
  data_ordered['running/total']=data_ordered['running_total']/data_ordered['total'].sum()
  top_merchants = data_ordered[data_ordered['running/total']<=top_percent].drop(columns=['total','running_total','running/total'])
  return top_merchants

In [ ]:
def get_bottom(data, bottom_percent = 0.1):
  data_ordered = data.copy(deep=True)
  data_ordered['total'] = data.sum(axis='columns')
  data_ordered = data_ordered.sort_values(by='total', ascending = True).copy(deep=True)
  data_ordered['running_total']=data_ordered['total'].cumsum()
  data_ordered['running/total']=data_ordered['running_total']/data_ordered['total'].sum()
  bottom_merchants = data_ordered[data_ordered['running/total']<=bottom_percent].drop(columns=['total','running_total','running/total'])
  return bottom_merchants

# Load Data

In [ ]:
data = pd.read_csv(source_file_path)

In [ ]:
data = data.set_index('Merchant Name')

In [ ]:
dates = pd.Series(pd.period_range(start_month, freq="M", periods=len(data.columns)))

In [ ]:
data.columns = dates

# test if functions work

In [ ]:
get_top(data,0.3)

,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
Merchant Name,,,,,,,,,,,,,,,,,,,,,
Merchant 439,913338,898677,916564,906939,926654,916773,938441,926510,936356,927353,...,969103,962572,976951,966658,981168,976113,998274,1002920,1021229,1027107
Merchant 1,416772,395324,411329,475679,497747,445429,505033,477349,496073,576800,...,644293,700144,611675,639038,616915,686572,630707,622073,667523,668189
Merchant 425,261996,407650,135635,256481,318097,284642,275557,310742,296407,300685,...,373860,337175,337229,349528,381101,352403,385596,373172,352725,520571

In [ ]:
get_bottom(data,0.001)

,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
Merchant Name,,,,,,,,,,,,,,,,,,,,,
Merchant 1706,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Merchant 1144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Merchant 1145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
Merchant 1378,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Merchant 1377,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Merchant 153,3,21,18,6,9,18,6,21,9,200,...,29,19,21,26,4,218,1,65,16,32
Merchant 312,3,8,26,142,1,3,1,32,0,16,...,0,3,6,40,6,178,1,4,13,60
Merchant 1001,3,0,4,3,96,13,119,6,8,60,...,124,22,31,196,11,73,13,3,22,6
Merchant 453,13,19,19,21,29,31,21,18,191,16,...,11,70,27,24,209,19,21,9,29,21
Merchant 154,34,29,31,31,27,37,27,34,36,34,...,40,34,39,40,36,39,32,42,39,40

# saving files test

In [ ]:
get_top(data,0.3).to_csv(output_path+'top_merch.csv')

# loading file test

In [ ]:
pd.read_csv(output_path+'top_merch.csv')

,Merchant Name,2020-08-31 00:00:00,2020-09-30 00:00:00,2020-10-31 00:00:00,2020-11-30 00:00:00,2020-12-31 00:00:00,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,...,2021-12-31 00:00:00,2022-01-31 00:00:00,2022-02-28 00:00:00,2022-03-31 00:00:00,2022-04-30 00:00:00,2022-05-31 00:00:00,2022-06-30 00:00:00,2022-07-31 00:00:00,2022-08-31 00:00:00,2022-09-30 00:00:00
0,Merchant 439,913338,898677,916564,906939,926654,916773,938441,926510,936356,...,969103,962572,976951,966658,981168,976113,998274,1002920,1021229,1027107
1,Merchant 1,416772,395324,411329,475679,497747,445429,505033,477349,496073,...,644293,700144,611675,639038,616915,686572,630707,622073,667523,668189
2,Merchant 425,261996,407650,135635,256481,318097,284642,275557,310742,296407,...,373860,337175,337229,349528,381101,352403,385596,373172,352725,520571

# one function that does all - the python script that can be used instead of the notebook

In [ ]:
def get_top(data, top_percent = 0.9):
  data_ordered = data.copy(deep=True)
  data_ordered['total'] = data.sum(axis='columns')
  data_ordered = data_ordered.sort_values(by='total', ascending = False).copy(deep=True)
  data_ordered['running_total']=data_ordered['total'].cumsum()
  data_ordered['running/total']=data_ordered['running_total']/data_ordered['total'].sum()
  top_merchants = data_ordered[data_ordered['running/total']<=top_percent].drop(columns=['total','running_total','running/total'])
  return top_merchants

def get_bottom(data, bottom_percent = 0.1):
  data_ordered = data.copy(deep=True)
  data_ordered['total'] = data.sum(axis='columns')
  data_ordered = data_ordered.sort_values(by='total', ascending = True).copy(deep=True)
  data_ordered['running_total']=data_ordered['total'].cumsum()
  data_ordered['running/total']=data_ordered['running_total']/data_ordered['total'].sum()
  bottom_merchants = data_ordered[data_ordered['running/total']<=bottom_percent].drop(columns=['total','running_total','running/total'])
  return bottom_merchants

def select_merchants(source_file_path, output_file_path, start_month, top=True, percentage=0.9):
# top = True - selects the merchants with the highest number of transations
# top = False - selects the merchants with the lowest number of transactions
# percentage = what should the ratio of total of the selected merchants to the total volume of transations be
# default setting outputs dataframe with merchants with highest total number of transactions
# that bring 90 % of all transactions
  data = pd.read_csv(source_file_path)
  data = data.set_index('Merchant Name')
  dates = pd.Series(pd.period_range(start_month, freq="M", periods=len(data.columns)))
  data.columns = dates
  if top:
    get_top(data,percentage).to_csv(output_path+'top_'+str(percentage)+'.csv')
  else:
    get_bottom(data,percentage).to_csv(output_path+'bottom_'+str(percentage)+'.csv')
  return

# test function

In [ ]:
select_merchants(source_file_path = source_file_path, output_file_path = output_path, start_month = start_month)